@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-lf-teal {
    background-color: #0FCCCE;
}

.bg-lf-teal-dark {
    background-color: #006B78;
}

.primary-font-color{ 
    color: #0FCCCE;
}

.secondary-font-color{
    color: #006B78;
}